/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.overlay {
  position: fixed;
  top: 35px;
  right: 2%;
  z-index: 10;
}
.card {
  background-color: "f00", width: 200px;
  heigh: 200px;
}
.badge {
  position: absolute;
  top: -2px;
  right: 0px;
  z-index: 11;
  color: red;
  border-radius: 45%;
  background-color: white;
  font-size: 1.10rem;
  padding-left: 5px;
  padding-right: 5px;

}

.customCard{
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
}
